.typerContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    padding-top: 25px;
    background-color: #fff;
}

.word-input {
    align-items: center;
    border-radius: 6px;
    font-size: 20px;
    padding: 14px 16px;
    width: 300px;
}

.form-container {
    padding: 50px 20px 20px 20px;
}