.container {
  width: 100%;
  background-color: #cf8f2e;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  /* margin: auto; */
  padding: 10px 0;
}

.sub-container {
  background-color: #ffcb7d;
  padding: 50px 75px;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 5px;
  /* box-shadow: 0 10px 5px #ccc; */
}

.main-container {
  min-width: 100vh;
  flex-flow: column;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #c5f390;
}
.buttonContainer {
  align-items: center;
  /* margin-top: 40px; */
}

.header-text {
  font-family: monospace;
  font-size: 40px;
}

.buttonInput {
  background-color: #fffb1d;
  outline: none;
  cursor: pointer;
  border: 1px solid #966909;
  color: #966909;
  font-family: inherit;
  font-size: 1.2em;
  padding: 13px 18px;
  margin-right: 5px;
  border-radius: 5px;

  /* box-shadow: 2px 2px 2px #966909; */
}

.buttonInput:hover {
  background-color: #a0db41;
  border: 1px solid #966909;
  color: #966909;
  box-shadow: 2px 2px 2px #966909;
}

.ActiveButtonInput {
  background-color: #fff;
  outline: none;
  cursor: pointer;
  border: 1px solid #966909;
  color: #966909;
  font-family: inherit;
  font-size: 1.2em;
  margin-right: 5px;
  padding: 13px 18px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 3px #966909;
}

.startButton {
  background-color: #5c90df;
  outline: none;
  cursor: pointer;
  border: 1px solid #3a7ce0;
  color: #fff;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  box-shadow: 2px 2px 2px #966909;
  border-radius: 5px;
  margin-top: 50px;
}
